

<form id="login-form" class="card-body">
  <div>
    <label for="username-input-login">Username</label>
    <input type="text" id="username-input-login" />
  </div>
  <div>
    <label for="password-input-login" class="form-label">Password</label>
    <input type="password" id="password-input-login" />
  </div>
  <button type="submit">Login!</button>
  <a type="button" href="/signup">Sign up instead</a>
</form>
{{!-- <html lang="en-US">
<head>
  <meta charset="utf-8">
    <title>Login</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"> --}}

{{!-- </head> --}}
    {{!-- <div id="login">
      <form name='form-login'>
        <span class="fontawesome-user"></span>
          <input type="text" id="email-input-login" placeholder="Email">

        <span class="fontawesome-user"></span>
          <input type="text" id="username-input-login" placeholder="Username">
       
        <span class="fontawesome-lock"></span>
          <input type="password" id="password-input-login" placeholder="Password">
        
        <input type="submit" value="Submit">

        <input type="submit" value="Signup">

</form> --}}

<script src="/js/login.js"></script>
